# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Virtual Environment
# ==========================================
.venv/

# ==========================================
# Python
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Streamlit Secrets
# ==========================================
.streamlit/secrets.toml

# ==========================================
# Test Files
# ==========================================
test.py
test_*.py

# ==========================================
# Operating System Files
# ==========================================
.DS_Store
Thumbs.db